In [3]:
# Import date from datetime
from datetime import date

# Create a date object
hurricane_andrew = date(1992, 8, 24)
# Which day of the week is the date?
print(hurricane_andrew.weekday())  #  0 = Monday, 1 = Tuesday, ...

0

In [5]:
import pandas as pd
df_ex1_dates = pd.read_csv("./data/ex01_dates.csv")
df_ex1_dates.head()

   year  month  day
0  1950      8   31
1  1950      9    5
2  1950     10   18
3  1950     10   21
4  1951      5   18

In [19]:
# create list of datetime objects
df_ex1_dates["str_dates"] = df_ex1_dates["year"].astype('string') + "-" +\
                            df_ex1_dates["month"].astype('string') + "-" +\
                            df_ex1_dates["day"].astype('string')
df_ex1_dates["dt_dates"] = pd.to_datetime(df_ex1_dates["str_dates"])  # creates Timestamp objects
df_ex1_dates["dt_dates"] = df_ex1_dates["dt_dates"].apply(lambda x: x.date())
florida_hurricane_dates = df_ex1_dates["dt_dates"].to_list()

In [20]:
# Counter for how many before June 1
early_hurricanes = 0

# We loop over the dates
for hurricane in florida_hurricane_dates:
  # Check if the month is before June (month number 6)
  if hurricane.month < 6:
    early_hurricanes = early_hurricanes + 1
    
print(early_hurricanes)

10